In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

from forecastingGDP.data import get_data,get_series_info
from fredapi import Fred

In [2]:
FRED = Fred()

In [3]:
SERIES = {
    'prod_indus':'INDPRO',
    'gdp':'GDPC1',
    #'Manufacturing Production'
    'BusinessExpectations':'ATLSBUSRGEP',
    'Capacity_Utilization':'TCU',
    #'manuf_ISM':'ISM'

    'Manufacturers_New_Orders':'AMTMNO',
    'New_Orders_Durable_Good':'DGORDER', #updated
    #'New_Orders_Non_defense_capital_good_ex_air':'NEWORDER',
    #'Building_permits'
    #'Housing_Starts'
    #'Construction Spending'
    #'new_car'
    #'Crude Oil Production'
    'Chicago_Fed_Activity_Index':'CFNAI',
    'University_of_Michigan_Consumer_Sentiment':'UMCSENT',
    #Philadelphia FedManufacturing Index

    'Advance_Retail_Sales':'MARTSMPCSM44000USS',
    'Real_Disposable_Personal_Income':'DSPIC96',
    'Personal_Consumption_Expenditure':'PCE',# old PCEC96

    #Initial Jobless Claims
    'Unemployment_Rate':'U1RATE',#old  UNRATE
    'Employment_Leve':'CE16OV',
    'Non_farm_payroll':'PAYEMS',
    'Not in Labor Force':'LNU05026648',

    #'Average Hourly Wages'
    'Consumer_Price_Index':'CPIAUCSL',
    'Personal_Consumption_Expenditure_ex_food':'PCEPILFE',
    'Producer_Price_Index':'PPIACO',
    #'Oil Price'
    #'Unit Labour Cost'
    # 'Imports_Goods_Services':'IEAMGSN',
    # 'Exports_Goods_Services':'IEAXGS',
    'Imports_Goods_Services':'IMPGSC1',#updated
    'Exports_Goods_Services':'EXPGSC1',#updated

    'Imports_Goods_from_China':'IMPCH',


    'BofA_US_High_Yield_Index':'BAMLH0A0HYM2',
    'S&P_500':'SP500',
    'Wilshire_5000_Market_Cap':'WILL5000INDFC',#updated  
    'VIX_Volatility':'VIXCLS',
    '10YUST':'GS10', # old DGS10
    '10YUST_2YUST':'GS2',#old T10Y2Y
    'US_Dollar Index':'DTWEXAFEGS',
}

SERIES_ID = list(SERIES.values())

OBSERVATION_START='1947-01-01'
AGGREGATION_METHOD = 'avg'
OUTPUT_TYPE_REALTIME = 1

In [4]:
def get_freq(series_id):
    info=get_series_info(series_id)
    return info.frequency_short.lower()

In [5]:
tab_freq=dict()

for serie_id in SERIES_ID:
    tab_freq[serie_id]=get_freq(serie_id)

In [6]:
tab_freq

{'INDPRO': 'm',
 'GDPC1': 'q',
 'ATLSBUSRGEP': 'm',
 'TCU': 'm',
 'AMTMNO': 'm',
 'DGORDER': 'm',
 'CFNAI': 'm',
 'UMCSENT': 'm',
 'MARTSMPCSM44000USS': 'm',
 'DSPIC96': 'm',
 'PCE': 'm',
 'U1RATE': 'm',
 'CE16OV': 'm',
 'PAYEMS': 'm',
 'LNU05026648': 'm',
 'CPIAUCSL': 'm',
 'PCEPILFE': 'm',
 'PPIACO': 'm',
 'IMPGSC1': 'q',
 'EXPGSC1': 'q',
 'IMPCH': 'm',
 'BAMLH0A0HYM2': 'd',
 'SP500': 'd',
 'WILL5000INDFC': 'd',
 'VIXCLS': 'd',
 'GS10': 'm',
 'GS2': 'm',
 'DTWEXAFEGS': 'd'}

In [7]:
def get_series_with_freq(series_id,freq):
    '''Returns the series of ID `series_id` with a quarter frequency'''
    return FRED.get_series(
        series_id,
        frequency=freq,
        observation_start=OBSERVATION_START,
        aggregation_method=AGGREGATION_METHOD,
        output_type=OUTPUT_TYPE_REALTIME,
    )

In [8]:
data=pd.DataFrame()
for serie_id in SERIES_ID :
    data[serie_id]=get_series_with_freq(serie_id,tab_freq[serie_id])

In [9]:
print(data.shape)
data.head()

(893, 28)

,INDPRO,GDPC1,ATLSBUSRGEP,TCU,AMTMNO,DGORDER,CFNAI,UMCSENT,MARTSMPCSM44000USS,DSPIC96,...,IMPGSC1,EXPGSC1,IMPCH,BAMLH0A0HYM2,SP500,WILL5000INDFC,VIXCLS,GS10,GS2,DTWEXAFEGS
1947-01-01,13.7249,2033.061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.271,97.759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-02-01,13.8059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-03-01,13.8870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-04-01,13.7789,2027.639,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61.432,96.526,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947-05-01,13.8329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN